@import "tailwindcss";

@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

@theme {
  --font-inter: 'inter', ui-sans-serif, system-ui, sans-serif;
}


html {
  overflow-anchor: none;
}

@layer base {
  body {
    @apply bg-[#ffffff] font-inter;
  }
}

@layer utilities {
  .text-stroke-fix {
    color: white;
    -webkit-text-stroke: 4px black; 
    paint-order: stroke fill; 
  }
}